@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500;700;900&display=swap");
body {
  font-family: "Heebo";
  color: #21243D;
  margin: 0;
}
body h1 {
  margin: 0;
}

.header {
  margin: 0 60px;
}
@media all and (max-width: 767.98px) {
  .header {
    margin: 0 10px;
  }
}

.page {
  flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .page {
    padding: 30px 0 0 0;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__burger, .nav__cross {
  display: none;
}
.nav__ul {
  display: flex;
  margin: 27px 0 0 0;
  padding: 0;
}
.nav__ul li {
  list-style: none;
}
.nav__ul a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 0 33px;
}
@media (min-width: 767.98px) {
  .nav__ul a:hover {
    color: #ff0000;
  }
}
@media all and (max-width: 767.98px) {
  .nav__ul, .nav__burger.open {
    display: none;
  }
  .nav__container {
    width: 100%;
  }
  .nav__ul a, .nav__ul {
    margin: 0;
  }
  .nav__cross.open, .nav__burger {
    display: block;
    margin: 27px 0 0 0;
  }
  .nav__ul.open {
    display: block;
    text-align: center;
  }
  .nav {
    flex-direction: column;
    align-items: flex-end;
  }
}

.hello {
  padding: 90px 149px 0 149px;
}
@media all and (max-width: 868px) {
  .hello {
    padding: 0 0 70px 0;
  }
}
@media all and (max-width: 767.98px) {
  .hello {
    padding: 0 0 60px 0;
  }
}
.hello__container {
  display: flex;
}
@media (max-width: 767.98px) {
  .hello__container {
    flex-direction: column-reverse;
    margin: 20px 20px 0 20px;
    text-align: center;
  }
}
.hello__content {
  align-items: flex-start;
  padding: 18px 110px 0 0;
  flex: 1 1 auto;
}
@media (max-width: 775px) {
  .hello__content {
    padding: 18px 50px 0 0;
  }
}
@media (max-width: 767.98px) {
  .hello__content {
    padding: 40px 0 0 0;
  }
}
.hello__title {
  margin: 0 0 25px 0;
}
.hello__text {
  margin: 0 0 35px 0;
}
@media (max-width: 767.98px) {
  .hello__text {
    margin: 21px 23px 27px 23px;
  }
}
.hello__btn {
  margin: 0 0 73px 0;
}
@media (max-width: 767.98px) {
  .hello__btn {
    margin: 0 0 59px 0;
  }
}
.hello__img {
  text-align: center;
}
.hello__avatar {
  flex: 0 0 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -5px 13px 0 0 #EDF7FA;
}
.hello__avatar img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .hello__avatar {
    width: 174.38px;
    height: 180px;
  }
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 136.3636363636%;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 146.875%;
}

.btn {
  background: #FF6464;
  border-radius: 2px;
  height: 47px;
  font-size: 20px;
  font-weight: 500;
  line-height: 145%;
  color: #ffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  transition: background-color 0.3s ease 0s;
}
@media (min-width: 767.98px) {
  .btn:hover {
    background-color: #e25c5c;
  }
}

.posts {
  background: #EDF7FA;
  padding: 25px 0 53px 0;
}
.posts__container {
  padding: 0 149px 0 149px;
}
@media (max-width: 1152px) {
  .posts__container {
    padding: 0 100px 0 100px;
  }
}
@media (max-width: 767.98px) {
  .posts__container {
    padding: 21px 23px 27px 23px;
  }
}
.posts__header {
  display: flex;
}
.posts__title {
  flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .posts__title {
    margin: -20px 0 20px 0;
  }
}
.posts__view-all {
  font-weight: normal;
  font-size: 16px;
  line-height: 143.75%;
  color: #00A8CC;
}
@media (max-width: 767.98px) {
  .posts__view-all {
    display: none;
  }
}
.posts__items {
  margin: 0 -10px;
}
@media (min-width: 767.98px) {
  .posts__items {
    display: flex;
  }
}
.posts__column {
  flex: 0 1 50%;
  padding: 0 10px;
  margin: 0 0 17px 0;
}
.post {
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
}
.post__title {
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 146.1538461538%;
  color: inherit;
  text-decoration: none;
  margin: 0 0 17px 0;
}
@media (min-width: 767.98px) {
  .post__title:hover {
    color: #ff0000;
    transition: color 0.4s;
  }
}
@media (max-width: 767.98px) {
  .post__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 136.3636363636%;
  }
}
.post__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 144.4444444444%;
  margin: 0 0 11px 0;
}
.post__info span {
  margin: 0 10px;
}
@media (max-width: 767.98px) {
  .post__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 146.875%;
  }
}
.title-posts {
  font-weight: 400;
  font-size: 22px;
}
@media (max-width: 767.98px) {
  .title-posts {
    text-align: center;
    font-size: 18px;
  }
}

.featured-works {
  padding: 30px 149px 85px 149px;
}
@media (max-width: 767.98px) {
  .featured-works {
    padding: 10px 23px 10px 23px;
  }
}
@media (max-width: 767.98px) {
  .featured-works__items {
    display: flex;
    overflow: auto;
  }
  .featured-works__items .works__item {
    flex: 0 0 90%;
    margin: 0 15px 0 0;
  }
}

.works__item {
  align-items: flex-start;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #E0E0E0;
}
.works__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 767.98px) {
  .works__item {
    display: flex;
    align-items: flex-start;
  }
}
.works__image {
  flex: 0 0 246px;
  display: block;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .works__image {
    padding: 0 0 30% 0;
    margin: 0 0 17px 0;
  }
}
.works__body {
  flex: 1 1 auto;
  padding: 0 0 0 18px;
}
.works__title {
  color: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 146.6666666667%;
}
@media (max-width: 767.98px) {
  .works__title {
    font-size: 24px;
  }
}
.works__info {
  display: inline-flex;
  align-items: center;
}
.works__year {
  background: #142850;
  color: #ffffff;
  height: 25px;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
}
.works__category {
  color: #8695A4;
  font-size: 20px;
  margin: 0 0 0 25px;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer {
  height: 182px;
  text-align: center;
}
.footer__social {
  margin: 52px 0 0 0;
}
.footer__social .social__item {
  margin: 0 35px 0 0;
}
.footer__social .social__item:last-child {
  margin: 0;
}
@media (min-width: 767.98px) {
  .footer__social .social__item img:hover {
    filter: saturate(900%);
  }
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 26px 0 54px 0;
}

/*# sourceMappingURL=style.css.map */
