@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700;900&display=swap');
//variables
$fontFamily: "Heebo";
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


body {
  font-family: $fontFamily;
  color: #21243D;
  margin: 0;

  h1 {
    margin: 0;
  }

}

.header {
  margin: 0 60px;
  @media all and (max-width: $md3+px) {
    margin: 0 10px;
  }
}

//основная страница//
.page {
  //padding: 90px 149px 0 149px;
  flex: 1 1 auto;
  //если убрать кнопку
  //убираем висячий отступ
  //*:last-child{
  //  margin-bottom: 0;
  //}

  @media (max-width: $md3+px) {
    padding: 30px 0 0 0;
    //text-align: center;
  }
}

//nav-start//
.nav {

  display: flex;
  justify-content: flex-end;

  &__burger, &__cross {
    display: none;
  }

  &__ul {
    display: flex;
    margin: 27px 0 0 0;
    padding: 0;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: #000;
      font-weight: 500;
      font-size: 20px;
      margin: 0 0 0 33px;
      @media (min-width: $md3+px) {
        &:hover {
          color: #ff0000;
        }
      }

    }
  }

  @media all and(max-width: $md3+px) {

    &__ul, &__burger.open {
      display: none;

    }

    &__container {
      width: 100%;
      //transform: translate(0px, -100%);
      //transition: transform 0.8s ease 0s;
    }

    &__ul a, &__ul {
      margin: 0;
    }
    &__cross.open, &__burger {
      display: block;
      margin: 27px 0 0 0;
    }

    &__ul.open {
      display: block;
      //transform: translate(0px,0%);
      text-align: center;
    }

    & {
      flex-direction: column;
      align-items: flex-end;
    }
  }

}

//nav-end//

//hello-start//
.hello {
  padding: 90px 149px 0 149px;
  //padding: 38px 0 73px 0;
  @media all and(max-width: $md1+px) {
    padding: 0 0 70px 0;
  }

  @media all and(max-width: $md3+px) {
    padding: 0 0 60px 0;

  }


  &__container {
    display: flex;

    //делаем картинку вверху
    @media (max-width: $md3+px) {
      flex-direction: column-reverse;
      margin: 20px 20px 0 20px;
      text-align: center;
    }

  }

  &__content {
    //чтобы картинка не растягивалась
    //прижимаем вверх
    align-items: flex-start;

    padding: 18px 110px 0 0;
    flex: 1 1 auto;
    //если убрать кнопку
    //убираем висячий отступ
    //*:last-child{
    //  margin-bottom: 0;
    //}

    @media(max-width: 775px) {
      padding: 18px 50px 0 0;
    }
    @media (max-width: $md3+px) {
      padding: 40px 0 0 0;
    }
  }

  &__title {
    margin: 0 0 25px 0;
  }

  &__text {
    margin: 0 0 35px 0;
    @media (max-width: $md3+px) {
      margin: 21px 23px 27px 23px;
    }
  }

  &__btn {
    margin: 0 0 73px 0;
    @media (max-width: $md3+px) {
      margin: 0 0 59px 0;
    }
  }

  &__img {
    text-align: center;
  }

  &__avatar {
    //width: 243px;
    flex: 0 0 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -5px 13px 0 0 #EDF7FA;

    img {
      max-width: 100%;
    }

    @media (max-width: $md3+px) {
      width: 174.38px;
      height: 180px;
    }
  }
}

//hello-end//
.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60/44*100%;
  //color: #21243D;
  @media (max-width: $md3+px) {
    font-size: 32px;
    //line-height: 40/32*100%;
  }

}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5/16*100%;
  //color: #21243D;
}

.btn {
  background: #FF6464;
  border-radius: 2px;
  height: 47px;
  font-size: 20px;
  font-weight: 500;
  line-height: 29/20*100%;
  color: #ffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  transition: background-color 0.3s ease 0s;
  @media(min-width: $md3+px) {
    &:hover {
      background-color: #e25c5c;
    }
  }
}

//===============//
//posts-start
.posts {
  background: #EDF7FA;
  padding: 25px 0 53px 0;

  &__container {
    padding: 0 149px 0 149px;

    @media(max-width: $maxWidth+px) {
      padding: 0 100px 0 100px;
    }
    @media (max-width: $md3+px) {
      padding: 21px 23px 27px 23px;

    }
  }

  &__header {
    display: flex;
    //justify-content: space-between;
  }

  &__title {
    //space-between in header
    flex: 1 1 auto;
    @media (max-width: $md3+px) {
      margin: -20px 0 20px 0;

    }
  }

  &__view-all {
    font-weight: normal;
    font-size: 16px;
    line-height: 23/16*100%;
    color: #00A8CC;
    @media (max-width: $md3+px) {
      display: none;

    }

  }

  &__items {
    //display: flex;
    //left and right 10px
    margin: 0 -10px;
    @media (min-width: $md3+px) {
      display: flex;
    }
  }

  &__column {
    flex: 0 1 50%;
    padding: 0 10px;
    margin: 0 0 17px 0;
  }

  &__item {

  }
}

//one post//
.post {
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;

  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    line-height: 38/26*100%;
    color: inherit;
    text-decoration: none;
    margin: 0 0 17px 0;
    @media (min-width: $md3+px) {
      &:hover {
        color: #ff0000;
        transition: color 0.4s;
      }
    }

    @media (max-width: $md3+px) {
      font-weight: 700;
      font-size: 22px;
      line-height: 30/22*100%;

    }

  }

  &__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 26/18*100%;
    margin: 0 0 11px 0;

    span {
      margin: 0 10px;
    }

    @media (max-width: $md3+px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 23.5/16*100%;

    }
  }

  &__text {

  }
}

.title-posts {
  font-weight: 400;
  font-size: 22px;
  //line-height: 60/22*100%;
  @media (max-width: $md3+px) {
    text-align: center;
    font-size: 18px;
  }
}

//posts-end//

//=================//

//works-start//

.featured-works {
  padding: 30px 149px 85px 149px;
  @media (max-width: $md3+px) {
    padding: 10px 23px 10px 23px;

  }

  &__items {

    @media (max-width: $md3+px) {
      display: flex;
      overflow: auto;

      .works__item {
        flex: 0 0 90%;
        margin: 0 15px 0 0;
      }
    }


  }

}

.featured-works__container {
}

.featured-works__title {
}

.works {
  //
  //  @media (max-width: $md3+px) {
  //  display: flex;
  //  overflow: auto;
  //}


  &__item {

    align-items: flex-start;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #E0E0E0;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $md3+px) {
      display: flex;
      align-items: flex-start;
    }


    //@media (max-width: $md3+px) {
    //  flex: 0 0 90%;
    //  margin: 0 15px 0 0;
    //}


  }

  &__image {
    flex: 0 0 246px;
    display: block;
    border-radius: 6px;
    min-height: 180px;
    overflow: hidden;
    @media (max-width: $md3+px) {
      padding: 0 0 30% 0;
      margin: 0 0 17px 0;
    }

  }

  &__body {
    flex: 1 1 auto;
    padding: 0 0 0 18px;
  }

  &__title {
    //display: inline-block;
    color: inherit;
    font-size: 30px;
    font-weight: 700;
    line-height: 44/30*100%;
    @media (max-width: $md3+px) {
      font-size: 24px;

    }
  }

  &__info {
    display: inline-flex;
    align-items: center;
  }

  &__year {
    background: #142850;
    color: #ffffff;
    height: 25px;
    padding: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
  }

  &__category {
    color: #8695A4;
    font-size: 20px;
    margin: 0 0 0 25px;
  }

  &__text {
  }
}
//works-end//


//img hac
._ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//works-end//

//footer-start//
.footer{
  height: 182px;

    text-align: center;

  &__social{
    margin: 52px 0 0 0;


    .social__item{
      margin: 0 35px 0 0;
      &:last-child{
        margin: 0;
      }

      @media (min-width: $md3+px) {
        img:hover{

          filter: saturate(900%)

        }
      }

    }
  }


  &__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 21/14*100%;
    margin: 26px 0 54px 0;
  }
}
//footer-end//f


